# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
ENV/

# Project-specific MMseqs2 database, index cache, and temp outputs
blastdb/
tmp/
output/*
!output/.gitkeep
input_FASTA/*
!input_FASTA/.gitkeep
input_database/*
!input_database/.gitkeep

